.pokeNameContainer {
  height: auto;
  border: none;
  border-bottom: 1px solid grey;
  transition: 0.2s;

  &:focus-within {
    border-bottom: 1px solid white;
  }
}
.pokeNameInput {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0;
  padding: 0;

  &::placeholder {
    color: rgb(180, 180, 180);
  }

  &:focus {
    outline: none;
  }
}